<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework1
    </title>
    <link rel="stylesheet" href="/static/css/10.03.homework.css">
</head>
<body>
    <div class="nav">
        <img src="/static/img/insta.png" alt="instagram image">
    </div>

    <span>Cristano Ronaldo</span>

    <div class="ronaldo"><img src="/static/img/pic.png " alt="Ronaldo image"></div>

    <footer>
        <img src="/static/img/heart.png" alt="heart image">
        100 likes
    </footer>

</body>


</html>