<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework1
    </title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="nav">
        <div class="left">
            <a href="http://127.0.0.1:8000/10.03.homework">버튼1</a>
        </div>

        <div class="right">
            <a href="#">버튼1</a>
        </div>

        <div class="search">
            <input type="text"
            class="searchbar"
            placeholder="Search">
        </div>
    </div>

    <header>
        <span>내용물</span>
    </header>

    <div class="menubar">
        <ul>
                <li><a href="#">탭1</a></li>
                <li><a href="#">탭2</a></li>
                <li><a href="#">탭3</a></li>
                <li><a href="#">탭4</a></li>
        </ul>
    </div>


</body>


</html>